<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- Loop over the collection of products -->
        <div class="col-md-3" *ngFor="let product of products">

          <div class="product-box">
            <a href="#" style="display: block">
              <img src="{{ product.imageUrl }}" class="img-fluid">
            </a>
            <a href="#" style="display: block">
              <h1>{{ product.name }}</h1>
            </a>
            <h2>{{ product.description }}</h2>
            <div class="price">{{ product.unitPrice | currency }}</div>
            <a href="#" class="btn primary-btn">Add to cart</a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
