<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <div>
          <img src="{{ product?.imageUrl }}" class="img-fluid" width="28%">

          <h3>{{ product?.name }}</h3>
          <div class="price">{{ product?.unitPrice | currency }}</div>
          <button class="mt-2 btn btn-primary" (click)="onAddToCart(product)">Add to cart</button>
          <hr>
          <h4>Product Description</h4>
          <p>{{ product?.description }}</p>

          <a routerLink="/products">Back to Product List</a>
        </div>
      </div>
    </div>
  </div>
</div>

